*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', 'Playfair Display', 'Yesteryear' sans-serif;
}
:root{
  --color01: #FCF2E4;
  --color02: #CF9D65;
  --color03: #212123; 
}


/********************** NavBar ************************/

nav{
  background: var(--color03);
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 2rem;
}

#ulNav{
  display: flex;
  align-items: center;
  gap: 2rem;
}

li a{
  color: var(--color01);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

li a:hover{
text-decoration: underline;
color: var(--color02);
transition: 0.5s;
}


#btnNav{
  padding: 8px 30px;
  border-radius: 7px;
  border: 1px solid var(--color02);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color02);
  background: #DBA4662B;
  cursor: pointer;
  transition: 0.1s;
}

#btnNav:active{
  background: #f8eedc;
  font-weight: bold;
  transform: scale(0.85);
}

#phoneBtn{
  width: 20px;
  height: 20px;
}

/* ************ Header ********** */
header{
  background-image: url('/img/headerBG.jpg');
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerContainer{
  margin: 0 auto;
  max-width: 1440px;
}
#h1Header{
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  color: var(--color01);
  margin-bottom: 5px;
}

#h2Header{
  font-family: 'Yesteryear';
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  color: var(--color01);
}

.btnHeader{
  display: flex;
  gap: 16px;
}

#marcaHora{
  padding: 8px 32px;
  border: none;
  border-radius: 7px;
  background: var(--color02);
  color: var(--color03);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

#marcaHora:active{
transform: scale(0.90);
background: var(--color01);
color: var(--color02);
font-weight: bold;
}

#entrarEmContato{
  padding: 8px 32px;
  border: none;
  border-radius: 7px;
  background: var(--color03);
  color: var(--color02);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

#entrarEmContato:active{
transform: scale(0.90);
background: var(--color01);
color: var(--color02);
font-weight: bold;
}

/* ******************* SECTION ****************** */

section{
  background: #F0E9DF;
}

#ulSection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 100px;
}

.pTitulo{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 60px;
  color: var(--color03);
}

.pDescricao{
    font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  text-align: center; 
  margin-top: 15px;
  color: #4F4F51;
}

#ulSection li{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


