* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', 'Playfair Display', 'Yesteryear' sans-serif;
}

:root {
  --color01: #FCF2E4;
  --color02: #CF9D65;
  --color03: #212123;
}


/********************** NavBar ************************/

nav {
  background: var(--color03);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

#ulNav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

li a {
  color: var(--color01);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

li a:hover {
  text-decoration: underline;
  color: var(--color02);
  transition: 0.5s;
}


#btnNav {
  padding: 8px 30px;
  border-radius: 7px;
  border: 1px solid var(--color02);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color02);
  background: #DBA4662B;
  cursor: pointer;
  transition: 0.1s;
}

#btnNav:active {
  background: #f8eedc;
  font-weight: bold;
  transform: scale(0.85);
}

#phoneBtn {
  width: 20px;
  height: 20px;
}

/* ************ Header ********** */
header {
  background-image: url('/img/headerBG.jpg');
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  margin: 0 auto;
  max-width: 1440px;
}

#h1Header {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  color: var(--color01);
  margin-bottom: 5px;
}

#h2Header {
  font-family: 'Yesteryear';
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  color: var(--color01);
}

.btnHeader {
  display: flex;
  gap: 16px;
}

#marcaHora {
  padding: 8px 32px;
  border: none;
  border-radius: 7px;
  background: var(--color02);
  color: var(--color03);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

#marcaHora:active {
  transform: scale(0.90);
  background: var(--color01);
  color: var(--color02);
  font-weight: bold;
}

#entrarEmContato {
  padding: 8px 32px;
  border: none;
  border-radius: 7px;
  background: var(--color03);
  color: var(--color02);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

#entrarEmContato:active {
  transform: scale(0.90);
  background: var(--color01);
  color: var(--color02);
  font-weight: bold;
}

/* ******************* SECTION 01 ****************** */

section {
  background: #F0E9DF;
}

#ulSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 100px;
}

.pTitulo {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 60px;
  color: var(--color03);
}

.pDescricao {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 15px;
  color: #4F4F51;
}

#ulSection li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* ************************* Section Plano e Preço ***************************** */

#planosEpreco {
  background: var(--color03);
  padding: 100px;
}

#h1cards {
  color: var(--color02);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

#h2cards {
  color: var(--color01);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-top: 15px;
}

#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}

.licards {
  background: #2C2C2E;
  border-radius: 10px;
}

.card {
  padding: 30px;
}

.card-titulo {
  margin-bottom: 25px;
}

.tituloPlano {
  color: var(--color01);
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 600;
}

.planos {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.pPlano {
  color: var(--color01);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1rem;
}

.preco {
  color: var(--color01);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  margin-top: 30px;
}

.sifrao {
  color: var(--color01);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 0.8125rem;
}


.btn-contratar {
  margin-top: 60px;
  padding: 10px 70px;
  color: var(--color02);
  background: var(--color03);
  border-radius: 5px;
  border: 1px solid var(--color02);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

.btn-contratar:active {
  background: var(--color03);
  font-weight: bold;
  transform: scale(0.95);
}

.btn-card-Pro {
  margin-top: 60px;
  padding: 10px 70px;
  color: var(--color03);
  background: var(--color02);
  border-radius: 5px;
  border: 1px solid var(--color02);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

.btn-card-Pro:active {
  background: var(--color02);
  font-weight: bold;
  transform: scale(0.95);
}

#card-pro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#tituloPlanoPro {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 0.6875rem;
}

#tituloPlanoPro {
  color: var(--color01);
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 600;
}

#btn-save {
  padding: 7px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

#btn-save:active {
  background: var(--color01);
  transform: scale(0.95);
}

/******************** Horários ***************/

.horarioContainer {
  background: #F0E9DF;
}

.infor-horario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 65px;
}

.palito{
width: 2px;
height: 155px;
background: black;
color: black;
}

.hora{
  display: flex;
  margin-top: 8px;
  gap: 5px;
}

#sabado{
  margin-top: 32px;
}

#h1-horarioDeAtendimento{
font-family: 'Montserrat';
font-style: Bold;
font-size: 2rem;
text-align: right;
vertical-align: middle;
}

.h1-dia-semana{
font-family: 'Montserrat';
font-style: Bold;
font-size: 1.5rem;
color: var(--color03);
}

.horas{
  font-family: 'Montserrat';
font-size: 1rem;
color: var(--color03);
}

/***************** Form *********************/
form{
  background: var(--color03);
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1Form{
  font-family: 'Montserrat';
font-weight: 600;
font-size: 2rem;
color: var(--color02);
}

.h2Form{
  font-family: 'Montserrat';
font-weight: 500;
font-size: 1rem;
color: var(--color01);
margin-top: 1rem;
}

#form-ifor{
  margin-top: 2rem;
  display: flex;
  gap: 16px;
}

.inputform{
  padding: 10px 100px 10px 10px;
  background: #2C2C2E;
  color: #dcc195;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  border: 1px solid #665744;
  border-radius: 7px;
  outline: none;
}

textarea{
  padding: 10px 400px 100px 10px;
  margin-top: 1rem;
  background: #2C2C2E;
  color: #dcc195;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  border: 1px solid #665744;
  border-radius: 7px;
  outline: none;
}

.btn-form{
  margin-top: 16px;
  background: var(--color02);
  padding: 16px 80px;
  border-radius: 7px;
  border: none;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: #212123;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.btn-form:active{
  background: var(--color02);
  font-weight: bold;
  transform: scale(0.95);
}

/* footer */

footer{
  background: #212123;
  padding: 40px;
  border-top: 1px solid #665744 ;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.footer p{
  font-family: 'Montserrat';
  font-size: 1.0625rem;
  color: #645E57;
}

/* =================== RESPONSIVIDADE =================== */

/* -------- Tablet -------- */
@media (max-width: 1023px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  #ulNav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  header {
    height: 60vh;
    padding: 20px;
    text-align: center;
  }

  #h1Header {
    font-size: 3rem;
  }

  #h2Header {
    font-size: 2.5rem;
  }

  #ulSection {
    gap: 50px;
    padding: 50px 20px;
  }

  .infor-horario {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  #form-ifor {
    flex-direction: column;
    width: 100%;
  }

  .inputform {
    width: 100%;
  }

  textarea {
    width: 100%;
    padding: 10px;
  }
}

/* -------- Celular -------- */
@media (max-width: 767px) {
  nav {
    flex-direction: column;
    padding: 1rem;
  }

  #ulNav {
    flex-direction: column;
    gap: 12px;
  }

  header {
    height: 50vh;
    padding: 10px;
  }

  #h1Header {
    font-size: 2rem;
  }

  #h2Header {
    font-size: 1.8rem;
  }

  .btnHeader {
    flex-direction: column;
    gap: 10px;
  }

  #ulSection {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }

  #cards {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    text-align: center;
  }

  .infor-horario {
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }

  form {
    padding: 40px 20px;
  }

  #form-ifor {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .inputform {
    width: 100%;
    padding: 10px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
  }

  .btn-form {
    width: 100%;
    padding: 12px;
  }

  footer {
    text-align: center;
  }

  .footer {
    align-items: center;
  }
}
